<article class="pure-g-r">
	<h1 class="pure-u-1">Dashboard</h1>
	<section class="pure-u-1">
    	<ul>
			<li><%= link_to "Manage Photos", photos_path %></li>
			<li><%= link_to "Manage User", edit_user_registration_path %></li>
		</ul>
	</section>
</article>