<article class="pure-g-r">
	<h1 class="pure-u-1">Editing photo</h1>
	<section class="pure-u-1">

		<%= image_tag @photo.image.url(:large) %>
		<%= render 'form' %>

		<%= link_to 'Show', @photo %> |
		<%= link_to 'Back', photos_path %>
	</section>
</article>