<article class="pure-g-r">
	<h1 class="pure-u-1">About</h1>
	<section class="pure-u-1">
		<h2>Services</h2>
		<p>I am available to shoot various events, with an emphasis on weddings. If you are interested in booking me for your event, please <%= link_to "contact me", contact_path %>.</p>
			
		<h2>Kyle Falconer</h2>
		<p>
			I grew up all over the country, and spent several years in each California, Washington, Texas, and Missouri. I am currently studying Computer Science at Missouri State University and am set to graduate in December, 2014. If you are interested in learning more about me as a programmer, my other website is <a href="http://www.kylefalconercodes.com/">Kyle Falconer Codes</a>.
		</p>
		
		<h2>Background</h2>
		<p>I had always been curious about photography and dabbled with it casually in the form of disposable cameras and whatever film camera I could get my hands on. I was largely limited by film and development costs.</p>
		<p>My curiosity for photography sparked to a flame in 2005 when I took Photography 101 at Ventura Community College. It was for that class that I purchased my first SLR camera, a Canon EOS 1 with the 50mm f/1.8 ("nifty fifty") lens. I learned about using the light meter, what the aperture and shutter do, composition, dark room processing and print making. I knew so little and wanted to learn more. A whole world of light and shadow was opening before me.</p>
		
		<h2>The Site</h2>
		<p>This web page was made with Ruby on Rails and is hosted with Digital Ocean. Those who are curious can inspect <a href="https://github.com/netinept/Photography" target="_blank">the source code on GitHub</a>.</p>
		
    
	
	</section>
</article>