/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require purecss
 *= require fancybox
 */

html, body, div, span, ul, li, p, img {padding:0;margin:0;}
img{vertical-align: top;}
html, body {height:100%; width:100%;}
img, li {display:inline-block;}

header {display:block;overflow:hidden;}
header>nav>ul {list-style:none;}
header>nav>ul>li {float:left; margin-left:10px; margin-right:10px;}
header>nav>ul>li a, header>nav>ul>li a:visited {color:#0099CC; text-decoration:none;}
body>header, body>article, body>footer, body>section{max-width: 1000px;margin-left: auto;margin-right: auto;}

a, a:hover, a:visited {color:rgba(115, 154, 255, 1); background-color:transparent; text-decoration:none; }

.hidden { display: none; }

/*flash*/
.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}


html, button, input, select, textarea, p,
.pure-g [class *= "pure-u"], .pure-g-r [class *="pure-u"] {
    font-family: "Segoe UI", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

.SiteLogo {color: rgba(115, 154, 255, 0.69);
font-size: 3em;
line-height: 3em;}

#site_nav {height:40px;}
#site_nav ul {display:inline-block;overflow:hidden;float: right;}
#site_nav a {letter-spacing:2px;color: rgba(115, 154, 255, 1);font-size: 1.1em;line-height: 1.1em;}
#site_nav li a:hover { border:none;
	-webkit-box-shadow: 0px 4px 2px -2px rgba(115, 154, 255, 0.77);
	-moz-box-shadow:    0px 4px 2px -2px rgba(115, 154, 255, 0.77);
	box-shadow:         0px 4px 2px -2px rgba(115, 154, 255, 0.77);
}

footer {display:inline-block;overflow:hidden;margin-top:20px;margin-bottom:20px;}
footer p {text-align:center;}

/* http://css-tricks.com/seamless-responsive-photo-grid/ */
.gallery-wrapper{float:none; clear:both; overflow:hidden;}
.photo-wrapper {float:left;}
.photo-wrapper .meta-controls{display:block;height:40px;overflow:hidden;}
.gallery-wrapper > .photo-wrapper {width:100%;height:auto;}
.gallery-wrapper a {display:inline-block;overflow:hidden;}
.gallery-wrapper .photo-wrapper{margin-bottom:2px;}
.gallery-wrapper .photo-wrapper, .gallery-wrapper a, .gallery-wrapper img {
  width: 100%;
  height: auto;
}
.gallery-wrapper  {
   line-height: 0;   
   -webkit-column-count: 4;
   -webkit-column-gap:   2px;
   -moz-column-count:    4;
   -moz-column-gap:      2px;
   column-count:         4;
   column-gap:           2px;
}

@media (max-width: 1200px) {
  .gallery-wrapper {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  .gallery-wrapper {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  .gallery-wrapper {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  .gallery-wrapper {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

